<!DOCTYPE html>
<html>
<head>
	<title>Smack_my_bitch_up</title>
	<!-- CSS -->
		<!-- STYLE SHEET FOR THE PAGE -->
			<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\landing_page_css.css">
		<!-- CSS RESETTER -->
			<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\css_resetter.css">
		<!-- GRID DEBUGGER -->
			<!-- <link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\grid_debugger.css"> -->
</head>
<body>
	<div class="parent">
		<div class="div1">

		</div>
		<div class="div2"> 
			<div class="smack_text_box"><p>SMACK</p></div> 
		</div>
		<div class="div3"> 
			MY
		</div>
		<div class="div4"> 
			BITCH
		</div>
		<div class="div5"> 
			UP
		</div>
	</div>
</body>
</html>