<!DOCTYPE html>
<html>
<head>
	<title>Smack_my_bitch_up</title>
	<!-- CSS -->
		<!-- STYLE SHEET FOR THE PAGE -->
			<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\landing_page_css.css">
		<!-- CSS RESETTER -->
			<link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\css_resetter.css">
		<!-- GRID DEBUGGER -->
			<!-- <link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\grid_debugger.css"> -->
	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
	<div class="parent">
		<div class="div1">

		</div>
		<div class="div2"> 
			<div class="smack_text_box"><p>SMACK</p></div> 
		</div>
		<div class="div3"> 
			<div class="my_text_box"><p>BITCH</p></div> 
		</div>
		<div class="div4"> 
			<div class="bitch_text_box"><p>MY</p></div> 
		</div>
		<div class="div5"> 
			<div class="up_text_box"><p>UP</p></div> 
		</div>
	</div>
</body>
</html>