<!DOCTYPE html>
<html>
<head>
	<title>Smack_my_bitch_up</title>
	<!-- CSS -->
		<!-- STYLE SHEET FOR THE PAGE -->
		<link rel="stylesheet" type="text/css" href="../public/css/landing_page_css.css">
		
		<!-- GRID DEBUGGER -->
			<!-- <link rel="stylesheet" type="text/css" href="D:\MY PROJECTS\WEB\smack_my_bitch_up\css\grid_debugger.css"> -->

		<!-- CSS RESETTER -->
			<link rel="stylesheet" type="text/css" href="../public/css/css_resetter.css">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	<!-- SHAKE -->
	<link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
</head>
<body>
	<div class="parent">
		<div class="div1">

		</div>
		<div class="div2"> 
			<div class="smack_text_box"><p class="shake shake-constant shake-constant--hover">SMACK</p></div> 
		</div>
		<div class="div3"> 
			<div class="bitch_text_box"><p>BITCH</p></div> 
		</div>
		<div class="div4"> 
			<div class="my_text_box"><p>MY</p></div> 
		</div>
		<div class="div5"> 
			<div class="up_text_box"><p>
				<span id="underline_u">U</span>P</p></div> 
		</div>
	</div>
</body>
</html>